---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kosmiq">
    <main>
        <h1>Kosmiq</h1>
        <p>Coming soon...</p>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0;
    }
</style>
