---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kosmiq">
    <main class="p-4 max-w-screen-xl">
        <h1 class="text-2xl underline underline-offset-2 decoration-wavy decoration-sunglow">Stellar Software Development</h1>
        <div class="italic text-deep-space">
            🚧 This site is under construction 🚧
        </div>
    </main>
</Layout>
