---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-white mx-auto max-w-screen-lg bg-deep-space">
		<header class="flex flex-row p-4 bg-outer-space">
			<h1 class="text-3xl font-bold">kosmiq</h1>
			<span class="text-sm italic text-gray-400 align-bottom ml-4 mt-auto">Stellar Software Development</span>
			<nav class="ml-auto">
				<!-- <a href="/" class="mx-2 underline underline-offset-2">Home</a>
				<a href="/contact" class="mx-2 underline underline-offset-2">Contact</a> -->
			</nav>
		</header>
		<slot />
	</body>
</html>
